<nav class="navbar">
    <div class="container-fluid">
        <button type="button" class="hamburger-btn" id="hamburgerBtn">
            <i class="fas fa-bars"></i>
        </button>
        <div class="navbar-brand">
            <img src="images/AccesoSeguroEducativo_logo.svg" alt="Logo" class="navbar-logo-svg">
            <span class="brand-text">Control de Acceso</span>
        </div>
        <div class="navbar-user">
            <span class="user-label">
                <span id="userName">Usuario</span><br>
                <span id="userRole">Rol</span>
            </span>
            <div class="user-avatar">
                <i class="fas fa-user"></i>
            </div>
        </div>
    </div>
</nav>
